<template>
	<div class="chat">
		<chat-messages></chat-messages>
		<form action="#" class="chat__form">
			<textarea  
			id="body" 
			cols="30" 
			rows="4"
			class="chat__form-input"
			v-model="body" 
			@keydown="handleMessageInput"
			></textarea>
			<span class="chat__form-helptext">
				hit return to send or Ctrl + shift for new line
			</span>
		</form>
	</div>
</template>

<script>

	import Bus from '../../bus'
	import moment from 'moment'
	export default {
		data () {
			return {
				body: null,
				bodyBackedUp: null
			}
		},
		methods: {
			handleMessageInput (e) {
				this.bodyBackedUp = this.body

				// console.log(e);
				if (e.keyCode === 13 && !e.shiftKey) {
					e.preventDefault();
					this.send();
				}
			},

			buildTempMessage () {
				let tempId = Date.now();

				return {
					id :tempId,
					body: this.body,
					created_at: moment().format('YYYY-MM-DD HH:mm:ss'),
					selfOwned: true,
					user: {
						name: Laravel.user.name
					}
				}
			},
			send () {
				if (!this.body || this.body.trim()==='') {
					return
				}

				let tempMessage = this.buildTempMessage();

				Bus.$emit('messages.added', tempMessage)

				axios.post('/chat/messages',{
					body: this.body.trim()

				}).catch(()=>{
					// console.log('failed')
					this.body = this.bodyBackedUp
					Bus.$emit('messages.removed', tempMessage)
				})

				this.body = null 
			}
		}
	}
</script>

<style lang="scss">
	.chat {
		background-color: #fff;
		border: 1px solid #d3e0e9;
		border-radius: 3px;

		&__form {
			border-top: 1px solid #d3e0e9;
			padding: 10px;


			&-input {
				width: 100%;
				border: 1px solid #d3e0e9;
				padding: 5px 10px;
				outline: none;
			}

			&-helptext {
				color: #aaa;
			}
		}
	}
</style>