.modal {
    z-index: 100000!important
}

.popover {
    max-width: 100%
}

.popover-span {
    color: #3c8dbc;
    cursor: pointer
}

.btn {
    border-radius: 15px
}

.btn-group .btn {
    border-radius: 15px!important
}

.btn-sell {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    background-color: #ff0074;
    padding: 5px 30px;
    min-width: 80px;
    color: #fff;
    border-radius: 4px
}

.btn-sell:hover {
    background: #ba2c5c;
    color: #fff
}

.btn-buy {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    background-color: #0ddac4;
    padding: 5px 40px;
    min-width: 80px;
    color: #fff;
    border-radius: 4px!important
}

label[disabled],input:disabled {
    cursor: no-drop!important
}

.btn-buy:hover {
    background: #2cab7c;
    color: #fff
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)
}

.markets_base_select {
    color: #fff;
    padding-right: 60px;
    padding-top: 15px
}

.markets_base_radio {
    padding-top: 12px
}

.radio-toolbar {
    margin-right: 20px;
    float: right!important
}

.radio-toolbar input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0
}

.radio-toolbar label {
    display: inline-block;
    padding: 3px 12px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff
}

.radio-toolbar label:hover {
    cursor: pointer;
    border: 1px solid #f2b80c;
    color: #f2b80c
}

.radio-toolbar .active+label {
    border: 1px solid #f2b80c;
    background-color: #f2b80c;
    color: #072a48
}

.radioUSDT {
}

.market_dropdown {
    margin-top: 11px;
    padding: 0 10px;
    margin-right: 50px;
    border: 1px solid #f2b80c;
    background-color: #f2b80c!important;
    font-size: 12px;
    border-radius: 4px
}

.market_dropdown a {
    color: #072a48;
    padding: 3px 6px
}

.market_dropdown a:hover {
    color: #072a48;
    font-weight: 700
}

.market_dropdown a:active,.market_dropdown a:visited {
    color: #072a48!important;
    font-weight: 700!important
}

.market_dropdown .fa-sort-down {
    padding-right: 5px
}

.dropdown-menu {
    border-radius: 6px!important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)!important;
    left: 0;
    right: auto;
    margin-left: 0;
    margin-top: 10px
}

.dropdown-menu.user_profile img {
    width: 25px;
    height: 25px;
    margin-left: 2px
}

.dropdown-menu img.coin {
    width: 17px;
    height: auto;
    float: left;
    margin-right: 5px
}

.dropdown-menu li,.user_profile li {
    border-bottom: solid 1px #f0f0f0!important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: none!important
}

.user_profile li:last-child {
    border-radius: 0 0 16px 16px!important
}

.user_profile li a:hover {
    font-weight: 400!important
}

.drop_a {
    text-align: left
}

.user_profile a {
    color: #000!important
}

.user_profile a:hover {
    border: none!important;
    border-radius: 6px!important
}

.dropdown-menu li:hover {
    margin-right: 3px;
    margin-left: 3px
}

.user_profile li:hover {
    margin-right: 10px!important;
    margin-left: 10px!important;
    border: none!important
}

.main-sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0
}

section.sidebar {
    background: #202c37
}

.content-header h1 {
    font-family: iransanss;
    margin-right: 30px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px
}

.skin-red .main-header .navbar {
    background-color: #2c2c2c
}

.box-header.with-border {
    margin-bottom: 20px
}

.skin-red .main-header .logo {
    background-color: #072a48!important;
    width: 11%!important;
    padding: 0 15px 0 30px!important
}

.navbar-static-top {
    margin-right: 11%!important
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .skin-red .main-header .logo {
        width:14%!important
    }

    .navbar-static-top {
        margin-right: 14%!important
    }
}

.left-side,.main-sidebar {
    padding-top: 50px;
    background-color: #072a48
}

.box-title {
    font-family: iransanss
}

.mymenu-icon:not(.fa-circle) {
    border-radius: 50%;
    width: 30px!important;
    font-size: 17pt;
    height: 30px;
    padding-top: 8px;
    text-align: center
}

.content-wrapper {
    padding-top: 50px
}

body {
    background-color: #f0f0f0
}

.sidebar-menu>li>a {
    padding: 20px 0!important
}

.sidebar-menu .treeview-menu>li>a {
    font-size: 12px!important
}

.main-header .logo {
    background-color: #a31a3c!important
}

.nprogress-busy .content-wrapper .content {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px)
}

#nprogress .spinner {
    display: block;
    position: fixed!important;
    z-index: 1031;
    top: 68px;
    right: 10%;
    margin-right: 8px
}

#nprogress .bar {
    background: #ff005b;
    position: fixed!important;
    z-index: 1031;
    top: 51px;
    left: 23%;
    width: 100%;
    height: 2.5px
}

.sidebar-menu li.active:not(.treeview) span {
    color: #d6d6d6!important
}

.fr-profit {
    margin-top: 10px
}

.form-control[disabled] {
    cursor: default!important
}

.navbar-custom-menu .nav li>a {
    padding: 8px 5px
}

.header-border-right {
    border-top: solid 4px #50e3c2!important
}

.header-border-left {
    border-top: solid 4px #ff005d!important
}

.box-info,.nav-tabs-custom,.card,.inv_coin_box,.inv_fr_box {
    border-radius: 6px!important;
    padding-top: 5px
}

.nav_tabs_border {
    border: solid 1px #000!important;
    border-radius: 6px!important;
    margin-right: 5px!important
}

.va_mo_card {
    border-top: none!important;
    border-radius: 20px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important
}

.outer_v_mo_box {
    width: 150px;
    margin-right: 5px;
    margin-left: 5px
}

.nav-tabs-custom.trades_chart>.tab-content {
    margin-top: -20px;
    padding: 0
}

.s_box {
    border-radius: 20px!important
}

.s_box .cover-box {
    border-radius: 10px;
    height: 170px;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    margin: 7px!important
}

#tv_chart_container {
    height: 500px
}

.nav.navbar-nav.main_header {
    height: 100%
}

.nav-tabs-custom>.nav-tabs>li.active {
    border: none
}

.support {
    position: relative;
    padding-right: 5px
}

#displayReceivedMessagesCount {
    color: #fff;
    background-color: #ff005b;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 10px;
    font-size: 11px;
    min-width: 15px;
    height: 15px;
    font-weight: 400;
    padding: 4px 5px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.navbar-custom-menu ul.navbar-nav li {
    height: 80%;
    margin-top: 5px!important
}

.main_left_nav:hover {
    background: rgba(0,0,0,.3)!important
}

.main_left_nav a:hover {
    background: rgba(0,0,0,.001)!important
}

.extra_left_menu:hover {
    background: rgba(0,0,0,.3)!important
}

.extra_left_menu>a:hover {
    background: rgba(0,0,0,.001)!important
}

.navbar-custom-menu ul.navbar-nav li:first-child {
}

.skin-red .main-header li.user-header {
    background-color: #2c2c2c
}

.user-header p {
    color: #d6d6d6!important;
    font-weight: 900
}

.img-responsive {
    width: 100%
}

.level_img {
    width: 60px;
    height: 60px;
    margin-top: 15px
}

.btn-market {
    background-color: #cd2d57;
    color: #fff!important;
    box-shadow: 0 0 15px 3px rgba(256,145,145,.3)!important;
    display: inline-block;
    margin-top: 8px;
    margin-right: 25px;
    border-radius: 15px;
    cursor: auto
}

.bootstrap-switch {
    line-height: 5px!important
}

.pr_increased {
    background: rgba(1,220,138,.3)
}

.pr_decreased {
    background: rgba(205,45,87,.3)
}

.inv_c_tas {
    padding-right: 5px;
    padding-left: 5px
}

.custom-scrollbar-300 {
    height: 300px
}

.custom-scrollbar-600 {
    height: 550px
}

.btn {
    font-size: 12px!important;
    line-height: 1.5!important
}

.my-dropdown {
    background-color: #072a48!important
}

.my-btn {
    background-color: transparent!important;
    border: 0!important;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 700
}

#expiration_date {
    margin-top: 15px
}

.my-btn:hover {
    background-color: transparent!important
}

.fa-archive,.fa-money,.fa-line-chart {
    color: #fff
}

.table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th {
    border: 1px solid lightgrey
}

.data-table {
    width: 100%;
    margin: auto
}

.data-table .dropdown {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px
}

li.selected {
    background-color: lightgrey
}

.tools .dropdown {
    display: inline-block
}

.sidebar-collapse .fa-angle-left {
    display: none
}

.mCSB_container_wrapper {
    margin-right: 15px
}

.mCSB_scrollTools {
    width: 10px
}

.mCSB_dragger_bar {
    background-color: #cbcece!important
}

.left-sidebar .mCSB_dragger_bar {
    background-color: #7f8282!important
}

.callout {
    color: #fff;
    background-color: #cd2d57!important
}

.logo-sprite {
    display: inline-block;
    vertical-align: sub
}

.market .dropdown-menu>li {
    padding: 5px 3px
}

.market .dropdown-menu>li>a {
    display: inline-block;
    padding: 0
}

.user-menu .dropdown-menu {
    border-bottom: 1px solid #000
}

.nav li a {
    padding-top: 7px!important;
    padding-bottom: 7px!important;
    padding-right: 15px;
    padding-left: 15px
}

.table.buy tbody tr.me td:first-child:before,.table.sell tbody tr.me td:first-child:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f005";
    float: right;
    position: relative;
    right: 25px
}

.skin-red .wrapper,.skin-red .main-sidebar {
    background-color: #f0f0f0
}

.skin-red .main-sidebar {
    padding-top: 0;
    background: #262d33
}

.left-sidebar {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 22%;
    background: #f0f0f0!important
}

.left-sidebar .header-table th {
    border: 0!important;
    text-align: right!important;
    padding-right: 10px;
    color: #000!important
}

.last_trades_market {
    float: left;
    margin-left: 30px
}

.header-table {
    margin-bottom: 0!important
}

.header-table tbody td {
    color: #000!important
}

.value_last_trades {
    padding-right: 25px!important
}

.nav-tabs-custom {
    margin-bottom: 11px
}

.nav-tabs-custom>.tab-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.nav-tabs-custom>.nav-tabs {
    margin-top: 15px
}

.nav-tabs>li>a {
    border: none;
    font-size: 12px
}

.nav-tabs-custom>.nav-tabs>li {
    border: none;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 0
}

.nav-tabs-custom>.nav-tabs>li.active:hover>a,.nav-tabs-custom>.nav-tabs>li.active>a {
    background: #000;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px
}

.nav-tabs-custom>.nav-tabs>li.deactive:hover>a,.nav-tabs-custom>.nav-tabs>li.deactive>a {
    border-radius: 8px!important;
    border: solid 1px #000;
    padding: 9px 20px!important;
    margin-right: 10px
}

.nav-tabs>li.active>a {
    margin-right: 5px
}

.nav-tabs>li.active>a:hover {
    margin-right: 5px
}

.main-sidebar {
    width: 10%
}

@media(min-width: 768px) {
    .content-wrapper,.main-footer,.right-side {
        margin-right:10%;
        margin-left: 22%
    }
}

@media(max-width: 767px) {
    .content-wrapper,.main-footer,.right-side {
        margin-right:0;
        margin-left: 22%
    }
}

section.sidebar {
    background-color: #072a48!important
}

.mymenu-icon {
    color: #5a5a5a;
    background: 0 0
}

.m_menu_ti_s {
    display: block;
    color: #fff!important;
    font-size: 11px;
    padding: 6px 0
}

.m_menu_a {
    text-align: center
}

.m_menu_a:hover {
    background: #041d33!important;
    color: #d0d0d0!important;
    border: none!important
}

.bg-maroon {
    background-color: #848484!important;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 19px!important
}

.input-group .form-control:last-child {
    border-radius: 5px
}

::-webkit-input-placeholder {
    font-size: 12px;
    color: #d7d7d7
}

::-moz-placeholder {
    font-size: 12px;
    color: #d7d7d7
}

:-ms-input-placeholder {
    font-size: 12px;
    color: #d7d7d7
}

.input-group {
    display: block
}

.fields-group>.row>div {
    margin-bottom: 15px
}

.fields-group .btn-group {
    margin-top: 15px
}

.form-group {
    margin-left: 0!important;
    margin-right: 0!important
}

.box-footer>div:last-child {
    float: left
}

.do-hi-up img {
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 5px
}

.input-group-addon {
    display: none
}

.btn-success {
    border-radius: 15px;
    background: #058bfe!important;
    border-color: #058bfe!important;
    color: #fff;
    min-width: 100px
}

.btn-success:hover,.btn-success:active,.btn-success.hover,.btn-success.focus,.btn-success:focus {
    background: #057de8!important;
    border-color: #058bfe!important
}

#reply-ticket {
    margin-top: 10px
}

#trade .control-label,#trade span {
    font-size: 11px
}

.hint-group {
    margin-top: 10px
}

.hint-group .clearfix {
    margin-bottom: 10px
}

.label-danger {
    padding: 5px;
    border-radius: 15px
}

#market_statictis {
    list-style-type: none;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 0
}

#market_statictis span {
    color: #000!important
}

#trade .tab-pane {
    position: relative;
    min-height: 240px
}

#trade .btn-buy,#trade .btn-send,#trade .btn-sell {
    position: absolute;
    left: 10px;
    bottom: 10px
}

#reply-ticket textarea {
    height: 100px
}

.kv-table {
    border-collapse: separate!important;
    border-radius: 10px!important;
    overflow: hidden!important
}

.kv-table {
}

.kv-table th {
    padding: 10px!important
}

.config-value,.config-key {
    border-radius: 6px!important
}

.card-number {
    background: lightgrey;
    margin-bottom: 5px;
    font-size: 14px
}

.kv-table td:not(.del-column) {
    padding: 20px!important
}

.kv-table .del-column {
    background: #ffebec
}

.kv-table .del-column .close {
    opacity: 1;
    color: red
}

.kv-table .del-column .close:hover {
    color: #a31a3c
}

.kv-table .add-row-trigger {
    display: block;
    width: 150px;
    margin: auto;
    background: #4d9ecd!important
}

td a {
    display: inline-block;
    min-height: 100%;
    width: 100%
}

td a .btn {
}

td a .btn i {
    vertical-align: middle;
    padding-left: 2px
}

td.price a {
    color: #000!important
}

table.table td>a {
    display: inline
}

form[action='/app/profile'] .btn-success:hover {
    background: #057de8;
    color: #fff
}

.tab-pane .form-group {
    margin-left: 0!important;
    margin-right: 0!important
}

.control-label {
    display: inline-block;
    text-align: right!important;
    font-size: 12px;
    padding: 3px;
    margin-bottom: 5px;
    font-weight: lighter
}

.price-hint {
    font-size: 12px;
    background: #f6f6f6;
    position: relative;
    top: -20px;
    padding: 20px 3px;
    border-top-color: #e5e5e5;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.col-th {
    padding-left: 6px;
    padding-right: 6px
}

.hint-group label {
    font-weight: bolder!important;
    text-align: right!important
}

.hint-group span {
    color: #cd2d57
}

.highcharts-credits {
    display: none!important
}

#tfa svg {
    display: block;
    margin: auto
}

#tfa .va_mo_txt {
    margin-bottom: 10px!important
}

#tfa .va_mo_add {
    margin-bottom: 0!important
}

#tfa button {
    clear: both;
    margin-top: 10px
}

.price-hint strong,#sell-market strong,#buy-market strong {
    margin-right: 3px;
    color: #cd2d57
}

.price-hint-r {
    float: right;
    margin-right: 20px
}

.price-hint-l {
    float: left;
    margin-left: 20px
}

#av-mo-v-inner,#lo-pr-su,#av-co-v-inner,#ma-pr-su {
    color: #000;
    border-bottom: 1px dashed;
    cursor: pointer;
    padding-left: 3px;
    font-weight: 700
}

.form-control:focus {
    border-color: #cd2d57;
    box-shadow: none
}

input.req_inp {
    border-radius: 5px
}

i.fa.fa-save {
    display: none
}

button.btn.btn-success.btn_send {
    border-radius: 15px;
    padding: 3px 10px;
    background: #1d96fe;
    border-color: #1d96fe;
    min-width: 80px
}

button.btn.btn_req_kif_br {
    background: #1d96fe;
    color: #fff;
    border-radius: 15px;
    padding: 4px;
    width: 140px;
    margin-left: 25px
}

@media(min-width: 768px) {
    .modal-dialog {
        width:700px;
        margin: 30px auto
    }
}

.va_mo_txt {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 25px
}

.va_mo_add {
    font-size: 13px;
    font-weight: 700;
    color: #da003a;
    margin-bottom: 20px
}

img.qrcode_kif {
    display: block;
    margin: 20px auto
}

.center_btn {
    margin: 10px auto;
    display: table
}

.btn-copy {
    width: 70px;
    background: #00d686;
    padding: 4px;
    color: #fff;
    border-radius: 10px
}

.btn-copy i {
    margin-left: 5px
}

.btn-copy:hover {
    background: #03c37c;
    color: #fff;
    border-radius: 10px
}

.coin-buy-edit .fields-group>.row>div,.coin-sell-edit .fields-group>.row>div {
    clear: both
}

.coin-buy-edit .fields-group>.row>div:last-child,.coin-sell-edit .fields-group>.row>div:last-child {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 50px;
    border-right: 1px solid #ccc
}

.coin-sell-edit .fields-group>.row .coin_price,.coin-sell-edit .fields-group>.row .price_check {
    clear: both;
    margin-top: 40px
}

.btn-refresh {
    background: #fff;
    padding: 4px;
    width: 28px;
    margin-right: 6px;
    border-color: #909090;
    color: #909090;
    border-radius: 10px
}

.modal-content {
    padding: 20px 10px 40px
}

.announcement-modal {
    text-align: right;
    line-height: 2;
    padding: 0
}

.modal-title {
    font-weight: 700;
    font-size: 16px;
    margin-right: 10px;
    text-align: right
}

.closebtn {
    margin-left: 15px
}

.btn-primary.btn_sail {
    border-radius: 15px;
    padding: 2px 10px;
    background: #e52264;
    border-color: #fff;
    width: 80px;
    margin-top: 3px;
    cursor: text
}

ul.main_header li {
    border: none
}

.skin-red .main-header .navbar .nav>li>a:hover {
    background: 0 0;
    color: #f6f6f6
}

.btn-primary.btn_sail:active:focus {
    background: #cd2d57;
    border-color: #fff
}

@media(min-width: 768px) {
    .navbar-nav>li>a {
        padding-top:10px;
        padding-bottom: 0
    }
}

.btn-primary.add-row-trigger {
    border-radius: 15px
}

.btn-primary.btn_buy {
    border-radius: 15px;
    padding: 2px 10px;
    background: #01dc8a;
    width: 80px;
    border-color: #fff;
    margin-top: 3px;
    cursor: text
}

.btn-primary.btn_buy:active:focus {
    background: #00dca7;
    border-color: #fff
}

.btn-view-t {
    width: 100px!important
}

.box {
    border-radius: 6px;
    margin-bottom: 11px;
    border: none
}

.box-header .box-title {
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px
}

.table>thead>tr>th {
    border-bottom: 1px solid #d2d2d2;
    vertical-align: middle;
    font-size: 11px;
    text-align: center;
    color: #262d33
}

.table>tbody>tr>td {
    border-bottom: 1px solid #efefef;
    vertical-align: middle;
    font-size: 12px;
    text-align: center
}

@media only screen and (min-width: 992px) and (max-width:1023px) {
    .table>tbody>tr>td {
        font-size:8px!important
    }
}

.received_txt {
    margin-right: 7px
}

.main_header .fa-envelope-o,.main_header .fa-life-ring {
    font-size: 25px;
    color: #d6d6d6
}

.stat_m_a {
    width: 120px;
    height: 50px;
    position: relative;
    background: red
}

.stat_m_b {
    width: 145px;
    height: 50px;
    position: relative;
    background: red
}

.stat_m_a:before {
    content: "";
    position: absolute;
    left: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 25px solid #0b4270;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent
}

/*!*.dropdown-menu, .dropdown, .tasks-menu {*!*/
/*!* overflow: visible !important;*!*/
/*!*}*!*/
.stat_m_b:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 25px solid #072a48;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent
}

.stat_m_a,.stat_m_b {
    background: #0b4270!important
}

.stat_m_a i,.stat_m_b i {
    position: absolute;
    top: 17px;
    right: 8px;
    font-size: 16px;
    color: #d6d6d6
}

.stat_m_a select,.stat_m_b select {
    position: absolute;
    left: 5px
}

option.caret {
    position: absolute;
    top: 14px;
    left: 50px;
    color: #000
}

option.stat_ti {
    position: absolute;
    top: 8px;
    left: 43px;
    color: #000
}

.user_n_ti {
    color: #d6d6d6;
    font-size: 12px
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    left: 0;
    right: auto;
    top: 45px;
    border: none
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    border-top-width: 0;
    width: 280px
}

.user-header p {
    color: #d6d6d6!important;
    font-weight: 900;
    font-size: 13px!important
}

.skin-red .main-header .navbar .nav>li>a:hover,.skin-red .main-header .navbar .nav>li>a:active,.skin-red .main-header .navbar .nav>li>a:focus,.skin-red .main-header .navbar .nav .open>a,.skin-red .main-header .navbar .nav .open>a:hover,.skin-red .main-header .navbar .nav .open>a:focus,.skin-red .main-header .navbar .nav>.active>a {
    background: #2c2c2c;
    color: #f6f6f6
}

.user_menu_width {
    width: 165px!important
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid transparent;
    border-color: #cd2d57
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #262d33;
    padding: 10px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #666;
    border-radius: 20px;
    width: 67px;
    height: 27px;
    padding: 3px;
    text-align: center
}

.skin-red .sidebar-menu>li:hover>a,.skin-red .sidebar-menu>li.active>a {
    color: #fff;
    background-color: #041d33;
    border: none
}

.bz_sb-input-group .input-group-addon {
    background: #dfdfdf!important;
    height: 28px;
    padding: 5px
}

.bz_sb-input-group .form-control {
    box-shadow: 0 0 0;
    border-color: #ccc;
    height: 28px;
    border-left: 0;
    background: #dfdfdf
}

.bz_sb-input-group button {
    border: 0;
    background: 0 0
}

.bz_box_a {
    height: 55px;
    background-image: linear-gradient(to bottom,#02386e,#00264d);
    padding-right: 10px;
    border-radius: 20px 20px 0 0
}

.table_a {
    height: 55px;
    background-image: linear-gradient(to bottom,#02386e,#00264d);
    padding-right: 10px
}

.mCSB_container {
    padding-right: 0!important
}

.left-sidebar {
    margin-top: 77px
}

.left-sidebar .mCSB_container_wrapper {
    margin-right: 0!important;
    position: inherit
}

.last_trades_table {
    margin-bottom: 0
}

.last_trades_table td {
    text-align: right!important;
    padding: 10px!important;
    color: #000!important
}

.left-sidebar table,.left-sidebar th,.left-sidebar td.price a,.left-sidebar td.coin-name a {
    color: #fff!important
}

.markets_table_border,.left-sidebar th {
    border-bottom: 1px solid #0b4270!important
}

.left-sidebar tr:hover {
    background-color: rgba(0,0,0,.3)!important
}

#tether tr:hover,#dash tr:hover {
    background-color: rgba(0,0,0,.3)!important;
    border-radius: 16px
}

.market_table .hover_tether:hover td:last-child {
    border-radius: 0 0 0 20px!important
}

.market_table .hover_tether:hover td:first-child {
    border-radius: 0 0 20px 0!important
}

.market_table .hover_tether td:last-child {
    border-radius: 0 0 0 20px!important
}

.market_table .hover_tether td:first-child {
    border-radius: 0 0 20px 0!important
}

.left-sidebar #mCSB_1_container {
    padding: 0!important
}

.left-sidebar section.markets {
    margin: 5px
}

.markets_first_wrapper {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 0!important;
    border-radius: 20px!important
}

.left-sidebar section.last_trades {
    margin: 5px
}

.left-sidebar section.markets .col-md-12 {
    padding: 0
}

.left-sidebar section.last_trades .col-md-12 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;
    border-radius: 16px
}

.header-table td {
    text-align: right!important
}

.th_padding {
    padding-right: 0!important
}

.left-sidebar section.markets .col-md-12>div {
    border-radius: 0 0 20px 20px;
    background-image: linear-gradient(to bottom,#02386e,#00264d);
    padding-top: 15px
}

.left-sidebar section.last_trades .col-md-12>div {
    border-radius: 20px;
    background-color: #fff
}

.left-sidebar section.markets .col-md-12 div>.row {
    padding-left: 20px;
    padding-right: 20px
}

.left-sidebar section.last_trades .col-md-12 div>.row {
    padding-right: 5px
}

#markets_base {
    border: solid 1px #f5f5f5;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,#02386e,#00264d);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 20px;
    opacity: .5
}

#markets_base_slider {
    border: solid 1px #6b6b6b;
    border-radius: 5px;
    background-color: #eceff4;
    color: #6b6b6b;
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    margin-left: 10px
}

#coin_base {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 20px;
    margin-bottom: 5px
}

#coin_base>img {
    width: 27px;
    height: 27px;
    margin-left: 10px
}

#markets_base option {
    color: #000
}

#markets_base_label {
    float: left;
    margin-left: 20px
}

#markets_base_label>span {
    font-weight: 400!important
}

.markets_overview {
    padding-right: 30px;
    padding-left: 10px
}

.markets_overview p {
    float: right
}

.markets_overview option {
    color: #000
}

.markets_overview span {
    color: #6b6b6b!important
}

.market_table thead {
    background-color: #011e3c
}

.last_trades thead {
    background-color: #c5c5c5!important
}

.market_table tr {
    padding-top: 30px
}

.trades_table th {
    color: #000!important
}

.trades_table td.coin-name a {
    color: #000!important
}

.trades_table td.price a {
    color: #000!important
}

.trades_table {
    padding-right: 50px
}

span.bz_t {
    display: inline-block;
    text-align: right;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    top: 3px;
    color: #fff;
    margin-right: 20px
}

.market_icon .upper_icon {
    width: 25px;
    height: 25px;
    position: relative;
    left: -30px;
    z-index: 99999
}

.market_icon .bottom_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 130px;
    top: 15px
}

.last_trades_title {
    color: #000!important
}

.coin-type a {
    color: #000
}

label.bz_ch_lbl {
    font-size: 11px;
    color: #8d8d8d
}

ul.pagination {
    display: table;
    margin: auto;
    padding-bottom: 15px;
    font-size: 10px
}

.bz_ch_input {
    position: relative;
    top: 0
}

.bz_ch {
    margin: 0;
    position: relative;
    right: 12px;
    padding: 0;
    top: 4px
}

.bz_t_s_i {
    color: #999
}

.left-sidebar td:last-child {
    padding-left: 10px
}

.market_table {
    margin-top: 5px;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom,#02386e,#00264d);
    overflow: auto;
    border-radius: 20px!important
}

.market_table {
    margin-top: 5px;
    background-color: #fff;
    border-radius: 0 0 20px 20px
}

.market_table i.fa-star,i.fa-star-o {
    font-size: 14px
}

@media(min-width: 768px) and (max-width:1024px) {
    .market_table th,.market_table td {
        padding-right:2px!important
    }
}

.market_table th,.market_table td {
    text-align: right!important;
    padding-right: 20px!important;
    margin-top: 20px!important
}

.market_table th {
    color: #fff!important;
    z-index: 99999!important
}

td.dec_change_pr {
    color: #1ed992
}

.main-header .navbar-custom-menu,.main-header .navbar-right {
    padding-top: 0;
    height: 50px
}

.box-footer {
    border-radius: 0 0 15px 15px;
    border-top: 0
}

.gha_bar {
    font-size: 12px;
    font-weight: 700;
    text-align: right
}

.sidebar_m_li:after {
    content: "\f0da";
    font-family: fontawesome;
    white-space: pre;
    font-size: 1.5em;
    line-height: .3em;
    position: absolute;
    top: 50%;
    left: -1px;
    color: transparent
}

.sidebar_m_li.active:after {
    color: #f0f0f0
}

.inv_coin_box {
    position: relative;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    margin: 5px
}

@media(min-width: 768px) {
    .inv_coin_box {
        width:180px
    }
}

@media(max-width: 767px) {
    .inv_coin_box {
        width:100%
    }
}

.inv_fr_box {
    border-radius: 10px;
    height: 240px;
    text-align: center;
    background: #fff;
    padding: 15px;
    margin-top: 13px;
    margin-left: 13px
}

.inv_c_sh {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-filter: drop-shadow(0px 4px 3px rgba(0,0,0,0.1));
    filter: drop-shadow(0px 4px 3px rgba(0,0,0,0.1))
}

.inv_c_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: #d6eeff;
    -webkit-clip-path: polygon(100% 0,100% 90%,50% 100%,0 90%,0 0);
    clip-path: polygon(100% 0,100% 90%,50% 100%,0 90%,0 0)
}

.inv_c_color_f {
    height: 110px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    margin: -15px -15px 0
}

.inv_c_color_s {
    width: 70px;
    height: 70px;
    background: #ededed;
    border-radius: 100%;
    display: table;
    margin: auto
}

span.inv_c_t {
    color: #cd2d57;
    font-size: 13pt;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle
}

.inv_c_t img {
    width: 37px;
    margin-right: 16px
}

.inv_fr_bar_btn {
    margin-top: 14px
}

.inv_c_mo {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #8d8d8d
}

.inv_c_txt {
    color: #cd2d57;
    font-weight: bolder
}

.inv_c_ac_btn {
    margin-top: 10px
}

span.inv_c_mo_v {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #8d8d8d;
    margin-top: 5px
}

span.inv_c_mo_v.inline {
    display: inline-block;
    padding-right: 3px
}

span.inv_c_mo_m {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px
}

button.btn.btn-sm.btn-default.btn_bar_res {
    border-radius: 15px;
    padding: 2px 10px;
    background: #a0a0a0;
    width: 80px;
    border-color: #fff;
    margin-top: 3px;
    color: #fff;
    cursor: text
}

button.btn-edit {
    border-radius: 15px;
    background: #058bfe;
    color: #fff
}

button.btn-edit:hover {
    background: #057de8;
    color: #fff
}

.btn-dropbox {
    border-radius: 15px
}

.do-hi-up {
    text-align: justify;
    border-left: 1px solid #ccc;
    padding: 20px
}

.kv-preview-data.file-preview-image {
    width: 100%!important
}

.file-upload-indicator {
    display: none
}

.file-preview {
    border: 0;
    display: inline-flex
}

.sweet-alert h2 {
    font-size: 22px
}

button.btn-delete,button.btn-close {
    border-radius: 15px;
    background: 0 0;
    color: #058bfe;
    border-color: #058bfe
}

.btn-close {
    display: inline-block;
    margin-left: 10px
}

button.btn-delete:hover,button.btn-close:hover {
    background: #dcdfe6;
    color: #058bfe
}

.delete-req {
    margin-bottom: 0!important
}

button.btn.btn-sm.btn-default.btn_bar_res:hover {
    background: #a0a0a0;
    color: #fff
}

.btn.btn_variz {
    border-radius: 4px!important;
    padding: 7px 13px!important;
    background-color: #7ed321;
    color: #fff
}

a.btn.btn_variz:hover {
    background: #70c01a!important;
    color: #fff
}

button.btn.btn_variz:hover {
    background: #70c01a!important;
    color: #fff
}

a.btn_bardasht {
    color: #0091ff!important;
    font-weight: 700;
    border: solid 1px #4a90e2;
    padding: 7px 13px!important;
    border-radius: 4px!important
}

a.btn.btn_bardasht:hover {
    background: #fff;
    color: #037ce6!important;
    border-color: #037ce6!important
}

.so_btn_m {
    margin-bottom: 10px
}

.btn_so_z {
    display: block;
    padding: 2px 10px;
    background: #fff;
    color: #9d9d9d;
    font-weight: 700;
    text-align: center
}

.btn.btn_moameleh {
    border-radius: 4px;
    padding: 7px 13px!important;
    background: #0e4caf;
    border-color: #fff;
    color: #fff
}

a.btn.btn_moameleh:hover {
    background: #2976ff;
    color: #fff
}

.his_tabs {
    position: relative;
    background: #fff;
    border-radius: 10px
}

.his_box {
    border: 0;
    border-radius: 10px
}

.his_tabs nav {
    color: #6c5d5d;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,.2)
}

.his_tabs nav a {
    padding: 15px 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    display: block
}

.his_tabs nav a.selected {
    background: #fff;
    color: #262d33;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

a.his_tab_nav_link {
    box-sizing: content-box!important;
    color: #262d33;
    padding-left: 40px!important
}

a.his_tab_nav_link:hover {
    background: #f5f5f5
}

.his_content {
    color: #6c5d5d
}

.his_tabs .his_content p {
    padding-bottom: 2px
}

.his_tabs .his_content p:last-of-type {
    padding-bottom: 0
}

select#his_action {
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-color: #929292
}

.s_box {
    float: right;
    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-radius: 20px!important
}

.s_box_c_ac_btn {
    margin: 10px auto;
    display: table;
    line-height: normal
}

.btn_s_box_124,.btn_s_box_124:hover {
    background: #36c08c;
    margin-right: 5px;
    color: #fff;
    padding: 5px;
    font-size: 11px!important
}

.msd_box1 {
    float: right;
    border-left: 1px solid #e6e6e6;
    padding: 0
}

.msd_box2 {
    float: right;
    text-align: center
}

span.so_m_t {
    display: block;
    width: 100px;
    margin: auto;
    font-size: 11px;
    color: #9d9d9d;
    white-space: nowrap;
    text-align: center
}

.s_box_footer {
    padding: 20px;
    float: right
}

.variation_percent {
    direction: rtl!important;
    border: solid 1px #ff005d;
    border-radius: 6px;
    color: #ff005d;
    padding: 0 5px;
    position: absolute;
    right: -50px
}

a.btn.moa_btn {
    width: 100%;
    background: #1f95ff;
    padding: 7px;
    border: none!important;
    margin-top: 20px;
    color: #fff;
    font-size: 19px!important;
    border-radius: 12px
}

a.btn.moa_btn:hover {
    background-image: linear-gradient(to top,#006cda,#0455ac)
}

.btn.bar_btn {
    width: 150px;
    background: #1f95ff;
    padding: 2px;
    border-radius: 50px;
    color: #fff
}

span.da_my_t {
    font-size: 11px;
    color: #8c8a8b
}

.da_my_m {
    font-weight: 700;
    font-size: 18px;
    color: #535353
}

.msd_box2 {
    float: right;
    text-align: center;
    line-height: 1;
    margin-top: 5px
}

.card {
    background: #fff;
    padding: 10px 20px 40px;
    border-radius: 10px;
    overflow: hidden
}

label[for=banking_data] {
    margin-bottom: 10px!important
}

label[for=banking_data]+.col-sm-9 {
    width: 100%!important
}

span.ti_digit {
    font-size: 13px;
    color: #5b5b5b;
    font-weight: 700
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

section.pie_chart {
    margin-top: 10px;
    margin-bottom: 10px
}

section.va_mo {
    padding: 5px
}

.levels_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 15px
}

.levels_container div {
    border: solid 1px #d1d1d1;
    border-radius: 11.2px;
    padding-bottom: 20px
}

.levels_container p {
    text-align: center
}

.level_title {
    margin-top: 25px
}

.level_perc {
    color: #ff005d;
    font-weight: 700
}

#bronz {
    width: 50px;
    height: 50px;
    margin-top: 30px
}

#silver {
    width: 53px;
    height: 53px;
    margin-top: 27px
}

#gold {
    width: 56px;
    height: 56px;
    margin-top: 24px
}

#platinum {
    width: 59px;
    height: 59px;
    margin-top: 21px
}

#paladum {
    width: 62px;
    height: 62px;
    margin-top: 18px
}

#oranum {
    width: 65px;
    height: 65px
}

@media(min-width: 768px) and (max-width:1024px) {
    .wallets-card-title {
        font-size:11px!important
    }

    .wallets-column img {
        width: 30px!important;
        height: 30px!important
    }

    input[type=range]::-webkit-slider-thumb {
        width: 4%
    }

    #bronz {
        width: 40px;
        height: 40px;
        margin-top: 30px
    }

    #silver {
        width: 43px;
        height: 43px;
        margin-top: 27px
    }

    #gold {
        width: 46px;
        height: 46px;
        margin-top: 24px
    }

    #platinum {
        width: 49px;
        height: 49px;
        margin-top: 21px
    }

    #paladum {
        width: 52px;
        height: 52px;
        margin-top: 18px
    }

    #oranum {
        width: 55px;
        height: 55px
    }

    .level_title {
        font-size: 10px
    }

    .levels_container div {
        border: solid 1px #d1d1d1;
        border-radius: 20px;
        padding-bottom: 5px
    }
}

.kif_title {
    font-weight: 700;
    font-size: 14px
}

.va_mo_title {
    margin-top: 20px;
    padding: 0;
    font-size: 12px
}

.inner_v_mo_box {
    float: right;
    background: #fff;
    padding: 10px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #d1d1d1;
    border-radius: 20px
}

.levels_container div.active {
    border: solid 1px #ff005d;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.5)
}

.des-iban-select {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px
}

.des-iban-select .iradio_minimal-red {
    float: right
}

.des-iban-select p {
    text-align: right;
    padding-right: 23px
}

.des-iban-select span {
    font-weight: 700
}

.vl {
    border-left: 1px solid #d1d6e0;
    height: 119px;
    position: absolute
}

.vl1 {
    left: -8%;
    margin-left: -3px;
    top: 45px
}

.va_mo_dar {
    font-weight: 700;
    font-size: 18px;
    margin-top: 25px;
    color: #ff005d
}

.outer_box_row {
    padding-left: 18px
}

.outer_v_mo_box {
    padding: 15px 0;
    margin-bottom: 20px;
    float: left
}

span.irs {
    position: relative;
    bottom: 27px;
    clear: right
}

span.irs-min,span.irs-max {
    display: none!important
}

span.irs-single {
    top: 52px;
    background: 0 0;
    color: #747474;
    font-size: 12px;
    font-weight: 700
}

span.irs-single:after {
    display: none!important
}

.all_digit_se {
    position: relative;
    top: 0;
    margin-top: 0;
    border-radius: 20px;
    border: solid 1px #d3d3d3;
    padding: 30px 20px;
    margin-bottom: 10px!important
}

.total_value_container {
    padding: 8px
}

.total_value {
    border-radius: 12px;
    background-color: #d2d2d2;
    padding: 20px
}

@media only screen and (max-width: 500px) {
    .all_digit_se {
        margin-top:50px!important;
        border-radius: 100px
    }
}

.dig_125 {
    text-align: center;
    margin-bottom: 15px
}

.digit_v {
    font-weight: 700;
    font-size: 16px;
    color: #535353;
    margin-bottom: 20px
}

.img_money_bag {
    display: flex
}

.img_money_bag img {
    width: 26px;
    height: 30px;
    float: right
}

.img_money_bag span {
    vertical-align: bottom;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 13px;
    color: #565656
}

.rang_slider {
    width: 100%;
    padding: 0 0 10px!important;
    margin-bottom: 10px
}

.rs_output {
    position: absolute;
    text-align: center;
    color: #747474;
    bottom: -35px;
    font-size: 13pt;
    font-weight: 700
}

.rs_output_postfix {
    position: absolute;
    text-align: center;
    color: #747474;
    bottom: -30px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 8pt
}

.rg_val {
    position: absolute;
    font-size: 11px;
    color: #ebebeb;
    bottom: -25px;
    left: -12px
}

.bootstrap-switch-small {
    border-radius: 19px!important;
    background-color: #ececec!important
}

.bootstrap-switch-handle-off {
    border-radius: 19px!important;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
    background-color: #ff005d!important;
    padding-right: 15px!important;
    padding-left: 15px!important
}

.bootstrap-switch-handle-on {
    border-radius: 19px!important;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
    padding-right: 15px!important;
    padding-left: 15px!important
}

.bootstrap-switch-label {
    background-color: #ececec!important
}

.wallets-container {
    padding-right: 5px;
    padding-left: 5px
}

.wallets-card {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    background-color: #fff;
    margin-bottom: 10px;
    padding: 7px 10px
}

.wallets-card img {
    margin-right: 10px
}

.wallets-card-title {
    text-align: center;
    font-size: 14px!important
}

@media only screen and (min-width: 1200px) and (max-width:1261px) {
    .wallets-card-title {
        margin-right:0!important;
        font-size: 11px!important
    }
}

.titles {
    padding: 3px!important
}

.amounts {
    text-align: center;
    padding: 8px!important;
    border-left: solid 1.5px #979797;
    border-right: solid 1.5px #979797
}

.wallets-column {
    padding: 0
}

.wallets-column img {
    display: block;
    margin: 0 auto
}

.inventory_amount {
    padding-top: 40px;
    margin-right: 40px;
    margin-top: 30px
}

.buttons {
    display: block;
    padding-top: 3px;
    text-align: center!important
}

.vertical {
    border-left: solid 2px #979797;
    height: 100px;
    margin-right: 20px
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0 0;
    width: 100%
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: .2s;
    background: #e0e0e0;
    border-radius: 1.3px
}

input[type=range]::-webkit-slider-thumb {
    height: 3px;
    width: 20%;
    cursor: pointer;
    -webkit-appearance: none;
    background: url(''),linear-gradient(to left,rgba(255,0,67,0),#ff0043 49%,rgba(255,0,67,0)) no-repeat
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bababa
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: .2s;
    box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: .2px solid #010101
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: .2s;
    background: 0 0;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: .2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: .2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000,0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd
}

.moa_btn_wrapper {
    padding-left: 5px;
    padding-right: 5px
}

.slick-dots li button {
    border: 0;
    background: 0 0;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer
}

.prev-btn,.next-btn {
    width: 40px;
    height: 132px;
    background-color: rgba(255,255,255,.7);
    box-shadow: -2px 0 3px 0 rgba(0,0,0,.2);
    position: absolute;
    z-index: 1;
    border: none;
    outline: none
}

.prev-btn {
    top: 100px;
    left: 0;
    border-radius: 0 6px 6px 0!important;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.3);
    overflow: hidden!important
}

.next-btn {
    top: 100px;
    right: 0;
    border-radius: 6px 0 0 6px!important;
    box-shadow: -2px 3px 4px rgba(0,0,0,.3)
}

.prev-btn>img,.next-btn>img {
    width: 20px;
    height: 20px
}

.market_data {
    color: #fff;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px
}

.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
    background-color: rgba(255,255,255,.7)
}

.inv_c_l {
    margin-top: 10px;
    margin-bottom: 10px
}

.callout {
    border-right: none!important;
    font-size: 12px
}

.inp_pos {
    margin-top: 10px;
    margin-bottom: 10px
}

.txt_frm_ar {
    padding: 15px
}

.btn_sub_tic {
    margin-top: 15px
}

button.btn.btn-info.dropdown-toggle.my-btn {
    width: 150px;
    height: 100%
}

@media(min-width: 768px) {
    .main-header {
        background-color:#2c2c2c!important
    }

    button.slide_menu {
        display: none
    }
}

@media(max-width: 767px) {
    .navbar-static-top {
        margin-right:0!important
    }

    .main-header {
        background-color: #2c2c2c!important
    }

    .skin-red .main-header .logo {
        width: 200px!important;
        height: 63px!important;
        margin: 0 auto
    }

    .skin-red .main-header span.logo-lg>img {
        margin-top: 10px
    }

    .main-header .navbar-custom-menu {
        float: left;
        position: relative;
        left: 0
    }

    .skin-red .main-header .navbar .dropdown-menu li a {
        color: #2c2c2c
    }

    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
        color: #f0f0f0
    }

    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color: #2c2c2c;
        color: #f0f0f0
    }

    .stat_m_a,.stat_m_b {
        position: absolute;
        right: 10%
    }

    button.slide_menu {
        font-size: 20pt;
        color: #cd2d57;
        position: absolute;
        right: 10px;
        top: 16%;
        background-color: transparent;
        border: none
    }

    .skin-red .main-sidebar {
        position: absolute;
        right: 0;
        width: 200px!important;
        margin: auto;
        z-index: 5000;
        transition: all .3s linear;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        opacity: 0
    }

    .main-sidebar.active {
        right: 200px;
        opacity: 1
    }

    .rang_slider {
        top: 5px!important
    }

    .all_digit_se {
        margin-top: 50px;
        border-radius: 20px;
        border: solid 1px #d3d3d3
    }

    .all_digit_se {
        margin-top: 20px!important
    }
}

@media(max-width: 1024px) {
    .m_menu_ti_s {
        white-space:initial!important
    }

    .msd_box1 {
        border-left: none
    }
}

@media(max-width: 427px) {
    .stat_m_a,.stat_m_b {
        width:50px;
        margin-right: 15px
    }

    button.btn.btn-info.dropdown-toggle.my-btn {
        width: 50px;
        height: 100%
    }

    span.stat_ti {
        display: none
    }

    form.col-md-12.rang_slider {
        top: 0
    }
}

@media(max-width: 427px) {
    .stat_m_a,.stat_m_b {
        width:50px;
        margin-right: 15px
    }

    button.btn.btn-info.dropdown-toggle.my-btn {
        width: 50px;
        height: 100%
    }

    span.stat_ti {
        display: none
    }

    form.col-md-12.rang_slider {
        top: 0
    }
}

@media(min-width: 369px) and (max-width:427px) {
    #wallets-pie-chart {
        position:relative!important;
        top: -63px!important;
        right: -83px!important;
        transform: scale(.7);
        -webkit-transform: scale(.7)
    }

    form.col-md-12.rang_slider {
        top: 0
    }
}

@media(max-width: 426px) {
    #wallets-pie-chart {
        position:relative!important;
        top: -104px!important;
        right: -107px!important;
        transform: scale(.5);
        -webkit-transform: scale(.5)
    }

    .pie_ch_card_body {
        height: 264px
    }

    form.col-md-12.rang_slider {
        top: 0
    }
}

@media(min-width: 992px) and (max-width:1023px) {
    .outer_v_mo_box {
        padding:15px 0;
        margin-bottom: 20px
    }
}

@media(min-width: 1024px) and (max-width:1279px) {
    .outer_v_mo_box {
        padding:15px 0;
        margin-bottom: 20px
    }

    form.col-md-12.rang_slider {
        top: -41px
    }
}

@media(min-width: 1280px) {
    .outer_v_mo_box {
        padding:15px 0;
        margin-bottom: 20px
    }

    form.col-md-12.rang_slider {
        top: -41px
    }
}

.personal_inforamtion_section {
    margin-bottom: 10px
}

.personal_information_wrapper .col-12 .card {
    margin-right: 27px;
    margin-left: 15px
}

.personal_information_wrapper .col-12 .personal_information_card_body {
    padding-bottom: 5px
}

.personal_information_wrapper .personal_information_card_title {
    padding-bottom: 5px;
    border-radius: 10px 10px 0 0!important
}

.personal_information_wrapper .personal_information_card_body {
    border-radius: 0 0 10px 10px!important;
    margin-top: 3px;
    padding-right: 5px;
    padding-left: 5px
}

.personal_information_wrapper .personal_information_card_body .card-body .row {
    margin-bottom: 5px
}

.personal_information_wrapper .personal_information_card_body .card-body .row .col-12 .row .col-xs-9 input {
    border-radius: 5px;
    border: solid 1px #979797;
    width: 100%;
    float: left;
    padding: 8px
}

.personal_information_wrapper .personal_information_card_body .card-body .row .col-12 .row .col-xs-11 input {
    border-radius: 5px;
    border: solid 1px #979797;
    width: 95.5%;
    float: left;
    padding: 8px
}

textarea {
    border-radius: 5px;
    border: solid 1px #979797;
    width: 100%;
    float: left;
    padding: 8px
}

.personal_information_wrapper .personal_information_card_body .card-body .row .col-12 .row .col-xs-3 p,.personal_information_wrapper .personal_information_card_body .card-body .row .col-12 .row .col-xs-1 p,.upload_image_wrapper .col-xs-5 p {
    margin-top: 10px
}

.personal_information_wrapper .personal_information_card_body .card-body .row .col-12 .row .col-xs-1,.personal_information_wrapper .personal_information_card_body .card-body .row .col-xs-5 {
    padding-left: 0
}

.bank_alert_wrapper .col-xs-12 .row .col-xs-12 p {
    font-size: 13px;
    color: #ff005d
}

.add_bank_account_wrapper .col-xs-12 button {
    float: left;
    background-color: #fff;
    border: solid 1px #979797;
    color: #979797;
    border-radius: 7px;
    padding: 10px
}

.add_bank_account_wrapper .add-row-trigger:hover,.add_bank_account_wrapper span.plus:hover {
    color: #4b4b4b;
    border-color: #4b4b4b
}

.add_bank_account_wrapper .col-xs-12 button img {
    width: 20px;
    height: 20px;
    margin-left: 5px
}

.upload_image_wrapper .col-xs-7 button {
    border: dashed 1.5px #979797;
    background-color: #f6f6f6;
    border-radius: 8px
}

.upload_image_wrapper .col-xs-7 button img {
    width: 20px;
    height: 20px;
    margin-left: 5px
}

.upload_image_info .upload_image_info_alert {
    color: #000;
    font-size: 12px;
    justify-content: center
}

.upload_image_info .upload_image_info_text {
    color: #f80866;
    font-size: 12px;
    justify-content: center
}

.personal_information_send_button_wrapper .col-12 span,#call_time_modal .modal-footer span {
    padding: 10px 40px;
    float: left;
    color: #fff;
    background-color: #0e4caf;
    text-align: center;
    border-radius: 7px;
    font-size: 14px!important
}

.personal_onformation_upload_image_wrapper {
    padding-right: 20px;
    padding-left: 20px
}

.uploaded_image {
    border: dashed 1px #979797;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 240px;
    padding-right: 0;
    padding-left: 0
}

.uploaded_image:hover,.profile-has-image:hover {
    cursor: pointer;
    border: dashed 1px #2a2a2a
}

.uploaded_image img {
    width: 200px;
    height: 200px
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .uploaded_image img {
        width:100px;
        height: 100px
    }

    .uploaded_image,.profile-has-image {
        height: 120px
    }

    .upload_image_button {
        height: 30px!important
    }
}

.uploaded_image p,.profile-has-image p {
    text-align: center
}

.perfect_selfy img {
    width: 100%;
    height: 100%
}

.personal_information_upload_image_wrapper .row .col-xs-5 {
    padding-right: 30px!important;
    padding-left: 30px!important
}

.upload_alerts {
    padding-top: 20px
}

.warning-icon {
    width: 15px;
    height: 15px;
    float: right;
    margin-left: 10px
}

.upload_alerts p {
    text-align: right;
    margin-right: 20px;
    justify-content: right
}

.upload_alert_auth,.upload_alert_text,.alert_text {
    font-size: 13px
}

.upload_alert_auth {
    color: #f80866
}

.upload_wrapper {
    padding-top: 20px
}

.upload_image_button {
    background-color: #0e4caf;
    color: #fff;
    text-align: center;
    margin-top: 7px;
    border-radius: 7px;
    width: 100%;
    height: 40px
}

.upload_image_button:hover,.personal_information_send_button_wrapper span:hover {
    background-color: #2976ff;
    color: #fff!important
}

.upload_image_button img {
    width: 20px;
    height: 20px;
    float: right;
    color: #fff
}

.dashboard_image {
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
    position: relative;
    top: 100px;
    opacity: .3
}

.confirm_account_wrapper {
    position: relative;
    top: -100px;
    padding: 0 400px;
    margin: auto
}

.confirm_account_text {
    line-height: normal;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center
}

.confirm_account_wrapper button {
    width: 200px;
    background-image: linear-gradient(to top,#12a68e,#0ddac4);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px!important
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .dashboard_image {
        right:10%
    }

    .confirm_account_wrapper {
        padding: 50px 150px;
        position: absolute;
        top: 240px;
        margin-left: 80px
    }
}

.wallets_legend_wrapper .wallets_legend_color {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    float: right
}

#rial_legend {
    background-color: #ff005d
}

#bitcoin_legend {
    background-color: #4a90e2
}

#tether_legend {
    background-color: #bd10e0
}

#etherium_legend {
    background-color: #f5a623
}

#litecoin_legend {
    background-color: #d8d8d8
}

.wallets_legend_wrapper span {
    float: right;
    margin-right: 8px;
    font-size: 11px;
    color: #000;
    font-weight: 700
}

.last_legend_row .col-xs-6 {
    border-bottom: none!important
}

.wallets_legend_wrapper .col-xs-6 {
    padding: 20px 10px 10px
}

.wallets_legend_wrapper p {
    float: left;
    font-size: 11px
}

.wallets_legend_wrapper .col-xs-6 {
    border-left: solid 2px #f0f0f0;
    border-bottom: solid 2px #f0f0f0;
    border-radius: 0
}

.wallets_col {
    border-radius: 16px;
    padding: 17px;
    background-color: #fff;
    margin-top: 10px;
    border-top: solid 2px #f0f0f0
}

.wallets_col .col-12 {
    border-bottom: solid 1px #f0f0f0;
    padding-bottom: 20px
}

#wallets_chart {
    height: 262px!important;
    width: 524px!important;
    margin-bottom: 10px
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    #wallets_chart {
        height:200px!important;
        width: 400px!important;
        margin-bottom: 10px;
        padding-left: 100px
    }
}

.friends_invite_detail {
    padding-right: 15px;
    color: #ff005b;
    font-size: 16px;
    margin-left: 280px;
    line-height: normal
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .friends_invite_detail {
        margin-left:10px
    }
}

@media only screen and (max-width: 991px) {
    .friends_invite_detail {
        margin-left:10px
    }
}

.invite_code_container {
    border: solid 2px #f0f0f0;
    padding: 10px;
    border-radius: 4px
}

#code_invite {
    padding-right: 15px
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    #code_invite {
        padding-right:70px
    }

    .auth_type_tablet {
        margin-top: 20px
    }
}

.invite_code_container p {
    opacity: .5;
    padding: 0;
    margin: 0;
    text-align: right;
    display: inline
}

.invite_box_title {
    font-weight: 700;
    margin-top: 10px
}

.friends_number img {
    width: 60px;
    height: 60px
}

.friends_number,.friends_number_count {
    padding-top: 70px;
    padding-bottom: 50px
}

.friends_number p {
    margin-top: 20px;
    font-weight: 700
}

.count_friends {
    font-size: 25px!important;
    color: #0091ff;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 40px
}

.count_unit {
    font-size: 20px;
    color: #0091ff;
    font-weight: 700
}

.radio_auth {
    float: right;
    display: inline
}

.radio_auth .radio_box {
    border-radius: 4px;
    border: solid 1px #979797;
    background-color: #f7f7f7;
    padding: 10px;
    color: #979797;
    margin-left: 10px
}

.radio_auth .disable_radio_box:hover {
    border-color: red!important
}

.radio_auth .radio_box:hover {
    border-color: #0091ff;
    color: #7c7c7c
}

.test {
    z-index: 9999;
    margin-left: 7px;
    background-color: #0091ff
}

.password_info {
    margin-top: 40px;
    color: #ff005b;
    font-size: 16px
}

.settings_item p {
    font-size: 15px;
    font-weight: 700
}

.setting_status {
    color: #bdbdbd;
    font-weight: 700
}

.setting_active {
    color: #0091ff;
    font-weight: 700
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: -5px;
    left: -10px;
    margin-right: 10px;
    margin-left: 10px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 9px;
    width: 55%;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -4px;
    bottom: -4px;
    background-color: #949494;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider {
    background-color: #d8d8d8
}

input:focus+.slider {
    box-shadow: 0 0 1px #d8d8d8
}

input:checked+.slider:before {
    background-color: #32c5ff
}

input:focus+.slider:before {
    box-shadow: 0 0 1px #32c5ff
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.radio {
    display: inline-block;
    cursor: pointer
}

.radio_auth_title {
    padding-top: 25px;
    font-weight: 700
}

.radio_box p {
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 0
}

.radio input {
    display: none
}

.radio input+span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
    float: right
}

.radio input+span:not(:empty) {
    padding-left: 30px
}

.radio input+span:before,.radio input+span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute
}

.radio input+span:before {
    background: #d1d7e3;
    transition: background .2s ease,transform .4s cubic-bezier(.175,.885,.32,2)
}

.radio input+span:after {
    background: #5d9bfb;
    transform: scale(.78);
    transition: transform .6s cubic-bezier(.175,.885,.32,1.4)
}

.radio input:not(:checked)+span:after {
    background: #fff
}

.radio input:checked+span:before {
    transform: scale(1.04);
    background: #fff;
    border: solid 2px #5d9bfb
}

.radio input:checked+span:after {
    transform: scale(.4);
    transition: transform .3s ease
}

.radio:hover input+span:before {
    transform: scale(.92)
}

.radio:hover input+span:after {
    transform: scale(.74)
}

.radio:hover input:checked+span:after {
    transform: scale(.4)
}

.radio_active {
    border: solid 1px #0091ff!important
}

.btn_copy {
    color: #0091ff;
    float: left;
    font-weight: 700
}

.btn_copy:hover {
    color: #047dda
}

.not_available {
    padding-top: 120px!important;
    padding-bottom: 80px!important;
    font-size: 22px!important;
    color: #a1a1a1;
    background-image: url(../img/warning.svg);
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-size: 100px;
    border: none!important
}

.custom_not_available {
    padding-top: 270px!important;
    background-position: 50% 84%!important
}

.orders_not_available {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
    font-size: 22px!important;
    color: #a1a1a1;
    background-image: url(../img/warning.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100px;
    border: none!important;
    text-align: center
}

.not_available:hover {
    background-color: #fff!important
}

@media only screen and (min-width: 1200px) and (max-width:1378px) {
    .buttons .btn {
        font-size:8px!important
    }
}

.bank_account_parent_wrapper {
    padding-right: 15px;
    padding-left: 15px
}

.bank_account_wrapper {
    border: solid 1px #979797;
    padding: 5px 5px 20px!important;
    border-radius: 8px;
    margin-bottom: 10px
}

.bank_account_input_title {
    color: #6f6f6f;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px
}

.bank_account_card_input {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #bbb;
    margin-right: 7px
}

.bank_account_card_input_title {
    color: #6f6f6f;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 11px!important
}

.delete_account_wrapper {
    font-size: 20px;
    padding-bottom: 0!important
}

.delete_account_wrapper i {
    padding-bottom: 0!important
}

.bank_account_input {
    border-radius: 4px;
    border: solid 1px #bbb;
    padding: 10px!important;
    margin-top: 5px;
    width: 100%
}

.bank_account_wrapper i {
    color: #ff005c
}

.ir_prepend {
    border-radius: 4px 0 0 4px;
    border: solid 1px #bbb;
    margin-top: 5px;
    padding: 9.5px 7px!important
}

@media only screen and (max-width: 320px) {
    .ir_prepend {
        padding:9px 7px!important
    }
}

.border_fix {
    border-radius: 0 4px 4px 0
}

.ir_prepend p {
    margin: 0;
    padding: 0!important;
    text-align: center
}

.user_account_input_label {
    padding-right: 0!important
}

.call-time-radio-container {
    display: inline-block;
    position: relative;
    padding-left: 55px;
    padding-right: 20px;
    padding-top: 3px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.call-time-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%
}

.call-time-radio-container:hover input~.checkmark {
    background-color: #ccc
}

.call-time-radio-container input:checked~.checkmark {
    background-color: #2196f3
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.call-time-radio-container input:checked~.checkmark:after {
    display: block
}

.call-time-radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff
}

.call-time-disabled {
    cursor: not-allowed
}

#call_time_modal .modal-content {
    padding-bottom: 0
}

#call_time_modal .modal-title {
    text-align: center!important
}

#call_time_modal .modal-desc {
    padding-right: 15px;
    color: #ff005b;
    font-size: 13px;
    line-height: normal;
    margin-bottom: 30px
}

#call_time_modal .call-time-send-button {
    margin-top: 10px
}

#call_time_modal .call-time-send-button span {
    width: 100%;
    background-color: #0091ff;
    color: #fff;
    border-radius: 8px;
    font-size: 16px!important
}

#call_time_modal .modal-content {
    border-radius: 10px;
    padding-top: 5px
}

#call_time_modal .modal-dialog {
    width: 450px!important;
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#call_time_modal .modal-content .radio_box {
    margin-right: 6px
}

#call_time_modal .modal-content .radio_auth {
    float: none!important
}

.try-set-call-time {
    border-radius: 7px!important;
    float: left;
    font-weight: 700
}

.red_tooltip+.tooltip>.tooltip-inner {
    background-color: #fff;
    color: red;
    border: solid 1px red;
    font-size: 12px
}

.after_tomorrow_call_time {
    margin-top: 20px;
    margin-bottom: 20px
}

.my-balance-wrapper-row {
    padding: 5px 23px
}

.my-balance-wrapper {
    background-color: #eee!important;
    margin: auto;
    border-radius: 7px!important;
    padding: 5px
}

.trade-btn {
    padding-right: 0;
    padding-left: 0
}

.trade-btn a {
    background-color: #0e4caf!important;
    border-radius: 8.3px!important;
    margin-top: 5px!important
}

.market-box {
    border-radius: 11.6px!important;
    padding-bottom: 3px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2)
}

.my-balance-title {
    margin-bottom: 0
}

.my-balance-title span {
    font-size: 11px;
    color: #535353;
    font-weight: 400!important
}

.slider-coin-best-buy {
    color: #00dccd
}

.slider-coin-best-sell {
    color: #ff0070
}

.levels-desc-wrapper {
    background-color: #efefef;
    margin: 8px;
    border-radius: 6.4px!important;
    border: none!important;
    padding-top: 10px;
    padding-bottom: 2px!important
}

.level-desc-title {
    margin-top: 0
}

.level-price-limit {
    margin-top: 20px!important;
    margin-bottom: 0!important
}

.my-level {
    color: #ff005d;
    text-align: center
}

.my-volume {
    font-weight: 700
}

.limit-volume {
    color: #5c5c5c
}

.progress-bar {
    background-color: #0e4caf;
    border-radius: 4px!important
}

.progress {
    background-color: #e9e9e9;
    border-radius: 4px
}

.current-level {
    text-align: right
}

.next-level {
    text-align: left
}

.current-level,.next-level {
    padding: 0;
    color: #757575
}

.account-input-title {
    margin-top: 15px;
    font-size: 14px!important;
    color: #000;
    padding-right: 0;
    padding-left: 0
}

.account-wrapper {
    padding-top: 13px!important;
    padding-bottom: 15px!important
}

.account-delete {
    border: 1px solid #ff005d;
    border-radius: 4px;
    padding: 5px 10px!important;
    margin-top: 5px
}

.profile-has-image {
    border: solid 2px #27d8b0;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 240px;
    padding-right: 0;
    padding-left: 0
}

.profile-has-image img {
    width: 150px;
    height: 150px
}

.profile-has-image .success-message {
    color: #27d8b0
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .profile-has-image img {
        width:100px;
        height: 100px
    }
}

.my-reqs th {
    background-color: #e2e2e2;
    padding-top: 10px!important;
    padding-bottom: 10px!important
}

.my-reqs .req-delete button {
    border-color: #4a90e2;
    color: #4a90e2;
    border-radius: 15px!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
    margin-top: 10px
}

.req-hint {
    background-color: #e3e3e3!important;
    border-radius: 4px;
    padding: 20px 10px;
    margin-bottom: 10px
}

.req-hint .hint-value {
    text-align: left;
    font-weight: 700
}

.req-hint .hint-value span {
    color: #000!important
}

.req-hint .hint-desc {
    background-color: #fff!important;
    color: red!important;
    margin-bottom: 10px;
    padding: 10px 60px;
    border-radius: 17px
}

.custom-header-table thead th {
    background-color: #e2e2e2
}

.custom-btn {
    background-color: #0e4caf!important
}

.custom-support {
    background-color: #000!important;
    border-radius: 8px
}

.insufficient-inventory {
    border-radius: 6px;
    background-color: #ff005d;
    color: #fff
}

.disable-order-btn {
    background-color: #b7b9b8!important
}

.custom-nav li a {
    padding-right: 10px!important;
    padding-left: 10px!important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3px
}

.user-separator {
    border-left: 2px solid gray!important;
    margin-left: 5px
}

.user-profile-nav {
    padding-right: 15px;
    padding-left: 5px
}

.user-profile-nav p {
    padding: 0;
    margin: 0;
    font-size: 8px
}

.user-profile-nav div {
    padding: 0
}

.user-profile-nav .user-name {
    color: #8a8a8a;
    font-size: 13px
}

.user-profile-nav .user-name {
    color: #8a8a8a;
    font-size: 13px;
    margin-right: 10px
}

.user-profile-nav .user-profile-title {
    font-size: 10px;
    margin-right: 10px
}

.custom-nav li:hover {
    border-radius: 8px!important
}

.fixed-card {
    padding-right: 0!important;
    padding-left: 0!important
}

.fixed-card h4 {
    padding-right: 15px!important
}

.fixed-box-header {
    margin-bottom: 0!important
}

.box-body {
    padding-top: 0;
    padding-bottom: 0
}

.custom-anchor {
    cursor: pointer;
    padding: 5px 10px
}

.custom-anchor:hover {
    background-color: #e5e5e5;
    border-radius: 6px
}

.custom-anchor-wrapper {
    padding: 3px 0
}

.dropdown-menu .upper-anchor {
    margin-bottom: 1px
}

.dropdown-menu .bottom-anchor img {
    margin-left: 10px
}

.dropdown-menu .upper-anchor,.dropdown-menu .bottom-anchor {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
    width: 94%
}

.dropdown-menu .line-breaker {
    height: .25px;
    background-color: #f0f0f0;
    margin-top: 2px;
    margin-bottom: 2px
}

* {
    outline: 0!important
}

.hint-group.req-hint .row {
    margin-right: 0;
    margin-left: 0
}

.hint-alert {
    padding-left: 5px
}

.increase-value {
    padding-right: 5px
}

.fix-last-hint {
    margin-bottom: 0
}

.hint-alert .label {
    width: 100%
}

#sellorder .fields-group,#buyorder .fields-group {
    padding-right: 10px;
    padding-left: 10px
}
